## NumPy sorting

The following NumPy array is to be sorted.

 a) According to the second row,
 
 b) According to the second column.

In [1]:

Input:
a = np.array([[34,43,73],[82,22,12],[53,94,66]])
Output:
a)
array([[73, 43, 34],
       [12, 22, 82],
       [66, 94, 53]])
b)
array([[82, 22, 12],
       [34, 43, 73],
       [53, 94, 66]])

SyntaxError: invalid syntax (<ipython-input-1-9dc4421c6108>, line 1)

In [3]:
import numpy as np

In [16]:
a = np.array([[34,43,73],[82,22,12],[53,94,66]])

a

array([[34, 43, 73],
       [82, 22, 12],
       [53, 94, 66]])

In [6]:
np.sort(a)  # sort along the last axis

array([[34, 43, 73],
       [12, 22, 82],
       [53, 66, 94]])

In [7]:
np.sort(a, axis = None)  # sort the flattened array

array([12, 22, 34, 43, 53, 66, 73, 82, 94])

In [8]:
np.sort(a, axis = -1)

array([[34, 43, 73],
       [12, 22, 82],
       [53, 66, 94]])

In [9]:
np.sort(a, axis = 0 )

array([[34, 22, 12],
       [53, 43, 66],
       [82, 94, 73]])

In [17]:
a2=a[np.argsort(a[:, 0])]

a2

array([[34, 43, 73],
       [53, 94, 66],
       [82, 22, 12]])

In [12]:
a[:, a[1,:].argsort()] # Sort by second row

array([[73, 43, 34],
       [12, 22, 82],
       [66, 94, 53]])

In [13]:
a[a[:,0].argsort(), :] # Sort by first column

array([[34, 43, 73],
       [53, 94, 66],
       [82, 22, 12]])

In [14]:
a[a[:,1].argsort(), :] # Sort by second column

array([[82, 22, 12],
       [34, 43, 73],
       [53, 94, 66]])

In [15]:
np.sort(a, axis=0)        # sort along the first axis

array([[34, 22, 12],
       [53, 43, 66],
       [82, 94, 73]])

In [20]:
dtype = [('name', 'S10'), ('height', float), ('age', int)]

values = [('Arthur', 1.8, 41), ('Lancelot', 1.9, 38),
          ('Galahad', 1.7, 38)]

a = np.array(values, dtype=dtype)       # create a structured array

np.sort(a, order='height')

array([(b'Galahad', 1.7, 38), (b'Arthur', 1.8, 41),
       (b'Lancelot', 1.9, 38)],
      dtype=[('name', 'S10'), ('height', '<f8'), ('age', '<i4')])

In [19]:
np.sort(a, order=['age', 'height'])

array([(b'Galahad', 1.7, 38), (b'Lancelot', 1.9, 38),
       (b'Arthur', 1.8, 41)],
      dtype=[('name', 'S10'), ('height', '<f8'), ('age', '<i4')])

In [21]:
arr = np.array(['banana', 'cherry', 'apple'])

print(np.sort(arr))

['apple' 'banana' 'cherry']

In [22]:
arr = np.array([3, 2, 0, 1])

print(np.sort(arr))

[0 1 2 3]

In [23]:
arr = np.array([True, False, True])

print(np.sort(arr))

[False  True  True]

In [24]:
arr = np.array([[3, 2, 4], [5, 0, 1]])

print(np.sort(arr))

[[2 3 4]
 [0 1 5]]

In [27]:
b=np.array([(1,2,3,4),(9,8,5,6)])

print(b)
print()

print(b[0:,2])

[[1 2 3 4]
 [9 8 5 6]]

[3 5]